@page
@using System.Security.Claims;
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <h1>@Model.Username</h1>
        <table class="table">
            <tbody>
                @foreach (var item in Model.Input.UserPosts)
                {
                    <tr>
                        <td>
                            <img src="@item.URLImagem" style="max-width:350px; height:auto" />
                            <br />
                            @Html.DisplayFor(modelItem => item.Mensagem)
                            <br />
                            @Html.DisplayFor(modelItem => item.HoraPostagem)
                            @if (item.UsuarioId == Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value))
                            {
                                <span>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}