@model RedeSocialBLL.Models.Postagem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Postagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URLImagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URLImagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraPostagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraPostagem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
