@using System.Security.Claims;
@using RedeSocialBLL.Models;
@model RedeSocialWEB.Controllers.PostagensController.PostagensCompletas

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.Name != null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <tbody>
        @foreach (var item in Model.VisiblePosts)
        {
            Usuario op = Model.PostsOwner.First(o => o.Id.Equals(item.UsuarioId.ToString()));
            string nomeCompleto = op.PrimeiroNome + " " + op.UltimoNome;
            <tr>
                <td>
                    <img src="@item.URLImagem" style="max-width:900px; height:auto" />
                    <br />
                    <p><strong>@nomeCompleto:  </strong> @Html.DisplayFor(modelItem => item.Mensagem)</p>
                    <br />
                    @Html.DisplayFor(modelItem => item.HoraPostagem)
                    @if (item.UsuarioId == Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value))
                    {
                        <span>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .table{
        margin: 0 auto;
    }
</style>